<div>
	<h1>Give feedback</h1>

	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<td style="width: 300px;"></td>
				<td class="headerRow" ng-repeat="x in ratingOptions">{{x.value}}</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in MCQs">
				<td>{{x.ques}}</td>
				<td ng-repeat="y in x.MCQoptions">
					<input class="radioBtnColumn" type="radio" ng-model="x.ans" id="option{{$index}}"
					name="{{x.index}}" ng-value="{{y.value}}"  ></td>
			</tr>
		</tbody>
	</table>

	<div  ng-repeat="x in Questions">
		<br><span >{{x.Ques}}</span>
		<div  ng-repeat="y in x.options">
			<input type="radio" name="{{x.no}}" ng-model="x.ans" ng-value="{{y.value}}" > <span>{{y.option}} 
			</span><br>
		</div>
	</div>
	<textarea class="form-control" rows="3" ></textarea>
	<br>  <button type="submit"  class="btn btn-default" ng-click="calculate()">Submit</button>
	{{submitValue}}
</div>