<body>
		<h1>Feedback ratings</h1>
		<table  class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Topic</th>
					<th>Ratings</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in feedback">
					<td >{{x.key}}</td>
					<td id="{{x.key}}"  >
<!--   			 	    <td id="{{x.key}}"  ng-repeat="y in ((a = Array(x.value))&&a) track by $index"> -->
						<span ng-repeat="a in (((b=[]).length=x.value)&&b) track by $index" class="glyphicon glyphicon-star"></span>
<!-- 					<div star-rating rating-value="{{x.value}}" max="5" ></div> -->
<!-- 					<rating ng-model="rate" max="5" readonly="isReadonly" >{{rate}}</rating> -->
<!-- 					<div class="rating">  {{x.value}}/5</div> -->
					</td>
				</tr>
			</tbody>
		</table>
<!-- 		{{appendStars()}} -->
		<h1>{{overallrating()}}</h1>
		<h3>
			<a id="loginLink" onclick="openLoginPopup()">Login</a> to submit you
			feedback
		</h3>
</body>