.headerRow{
	text-align: center;
	width: 150px;
}
.radioBtnColumn{
	width: 100%;
	margin: auto;
}
#popup {
	border: 2px solid #ddd;
	border-radius: 6px;
	padding: 3rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
	position: relative;
	top: 250px;
}

.popupWrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.6);
}

.cancelButton {
  position: absolute;
  top: -11px;
  right: -11px;
}

.cancelButton>span {
	font-size: 20px;
	background-color: white;
	border-radius: 50%;
	border: 4px solid #fff;
}